*~
*#
*.soln
*.pyc
*.hdf5
*.log
src/experiments/
src/tf_saved/
src/temp/*
!src/temp/.gitkeep
src/ros_utils/devel
src/ros_utils/install
src/ros_utils/build
src/ros_utils/devel/*
src/ros_utils/install/*
src/ros_utils/build/*
src/memory_info.txt

