*~
*#
*.soln
*.pyc
*.hdf5
*.log
*.swp
src/experiments/
src/tf_saved/
src/backup/*
src/temp/*
!src/temp/.gitkeep
src/ros_utils/devel
src/ros_utils/install
src/ros_utils/build
src/ros_utils/devel/*
src/ros_utils/install/*
src/ros_utils/build/*
src/memory_info.txt
*.bak
src/exp_logs/*
src/experiment_logs/*
.ruby-version
.vscode

